<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#"><!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta about="/node/98" property="sioc:num_replies" content="0" datatype="xsd:integer" />
<link rel="shortcut icon" href="http://d7.dev/sites/all/themes/adaptivetheme/at_subtheme/favicon.ico" type="image/vnd.microsoft.icon" />
<meta content="Causa Commodo Luptatum Typicus" about="/node/98" property="dc:title" />
<link rel="shortlink" href="/node/98" />
<meta name="Generator" content="Drupal 7 (http://drupal.org)" />
<link rel="canonical" href="/node/98" />
<title><%= @title %></title>
<link rel="stylesheet" href="/stylesheets/screen.css">
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-98 node-type-article">
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <div id="page" class="container page">

  <!-- region: Leaderboard -->
  
  <header id="header" class="clearfix" role="banner">

          <!-- start: Branding -->
      <div id="branding" class="branding-elements clearfix">

        
                  <!-- start: Site name and Slogan hgroup -->
          <hgroup id="name-and-slogan">

                          <h1 id="site-name"><a href="/" title="Home page">Site-Install</a></h1>
            
            
          </hgroup><!-- /end #name-and-slogan -->
        
      </div><!-- /end #branding -->
    
    <!-- region: Header -->
    
  </header>

  <!-- Navigation elements -->
    <div id="primary-menu-bar" class="nav clearfix"><nav  role="navigation" class="primary-menu-wrapper menu-wrapper clearfix"><h2 class="element-invisible">Main menu</h2><ul class="menu primary-menu clearfix"><li class="menu-320 first"><a href="/node/2" title="">About</a></li><li class="menu-224 last"><a href="/">Home</a></li></ul></nav></div>  
  <!-- Breadcrumbs -->
  
  <!-- Messages and Help -->
    
  <!-- region: Secondary Content -->
  
  <div id="columns" class="columns clearfix">
    <div id="content-column" class="content-column" role="main">
      <div class="content-inner">

        <!-- region: Highlighted -->
        
        <section id="main-content">

          
                      <header id="main-content-header" class="clearfix">

                              <h1 id="page-title"><%= @title %></h1>
              
              
            </header>
          
          <!-- region: Main Content -->
                      <div id="content" class="region">
              <div id="block-system-main" class="block block-system no-title" >  
  
<%= yield %>
  </div>            </div>
          
          <!-- Feed icons (RSS, Atom icons etc -->
          
          
        </section><!-- /end #main-content -->

        <!-- region: Content Aside -->
        
      </div><!-- /end .content-inner -->
    </div><!-- /end #content-column -->

    <!-- regions: Sidebar first and Sidebar second -->
    <div class="region region-sidebar-first sidebar"><div class="region-inner clearfix"><section id="block-user-login" class="block block-user"  role="form"><div class="block-inner clearfix">  
      <h2 class="block-title">User login</h2>
  
  <div class="block-content content"><form action="/node/98?destination=node/98" method="post" id="user-login-form" accept-charset="UTF-8"><div><div class="form-item form-type-textfield form-item-name">
  <label for="edit-name">Username <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="edit-name" name="name" value="" size="15" maxlength="60" class="form-text required" />
</div>
<div class="form-item form-type-password form-item-pass">
  <label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
 <input type="password" id="edit-pass" name="pass" size="15" maxlength="128" class="form-text required" />
</div>
<div class="item-list"><ul><li class="even first"><a href="/user/register" title="Create a new user account.">Create new account</a></li><li class="odd last"><a href="/user/password" title="Request new password via e-mail.">Request new password</a></li></ul></div><input type="hidden" name="form_build_id" value="form-ruhzHZgK5RDjtNayXNBu9DP8nvZmEZ08W8y_rixZ0Mg" />
<input type="hidden" name="form_id" value="user_login_block" />
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Log in" class="form-submit" /></div></div></form></div>
  </div></section></div></div>    
  </div><!-- /end #columns -->

  <!-- region: Tertiary Content -->
  
  <!-- region: Footer -->
      <footer id="footer" class="clearfix" role="contentinfo">
      <div class="region region-footer"><div class="region-inner clearfix"><div id="block-system-powered-by" class="block block-system no-title"  role="complementary"><div class="block-inner clearfix">  
  
  <div class="block-content content"><span>Powered by <a href="http://drupal.org">Drupal</a></span></div>
  </div></div></div></div>    </footer>
  
</div>
  </body>
</html>
