      <footer id="footer" class="clearfix" role="contentinfo">
      <div class="region region-footer"><div class="region-inner clearfix"><div id="block-system-powered-by" class="block block-system no-title"  role="complementary"><div class="block-inner clearfix">  
  
  <div class="block-content content"><span>Powered by <a href="http://drupal.org">Drupal</a></span></div>
  </div></div></div></div>    </footer>
