<header id="header" class="clearfix" role="banner">

  <!-- start: Branding -->
  <div id="branding" class="branding-elements clearfix">

    
    <!-- start: Site name and Slogan hgroup -->
    <hgroup id="name-and-slogan">

      <h1 id="site-name"><a href="/" title="Home page">Hadron</a></h1>
      <a href="/" title="Home page"><img src="http://placehold.it/250x100&text=logo" style="padding-bottom:10px;"></a>
    </hgroup><!-- /end #name-and-slogan -->
    
  </div><!-- /end #branding -->
  
  <!-- region: Header -->
  
</header>
