<header id="header" class="clearfix" role="banner">

  <!-- start: Branding -->
  <div id="branding" class="branding-elements clearfix">

    
    <!-- start: Site name and Slogan hgroup -->
    <hgroup id="name-and-slogan">
<<<<<<< HEAD

      <h1 id="site-name"><a href="/" title="Home page">Hadron</a></h1>
      <img src="http://placehold.it/250x100&text=logo">
=======
    	<img src="http://placehold.it/250x100&text=logo">
      
>>>>>>> master
    </hgroup><!-- /end #name-and-slogan -->
    
  </div><!-- /end #branding -->
  
  <!-- region: Header -->
  
</header>
