  <header id="header" class="clearfix" role="banner">

          <!-- start: Branding -->
      <div id="branding" class="branding-elements clearfix">

        
                  <!-- start: Site name and Slogan hgroup -->
          <hgroup id="name-and-slogan">

                          <h1 id="site-name"><a href="/" title="Home page">Site-Install</a></h1>
            
            
          </hgroup><!-- /end #name-and-slogan -->
        
      </div><!-- /end #branding -->
    
    <!-- region: Header -->
    
  </header>
