    <div id="primary-menu-bar" class="nav clearfix"><nav  role="navigation" class="primary-menu-wrapper menu-wrapper clearfix"><h2 class="element-invisible">Main menu</h2><ul class="menu primary-menu clearfix"><li class="menu-320 first"><a href="/node/2" title="">About</a></li><li class="menu-224 last"><a href="/">Home</a></li></ul></nav></div>  
