<!-- Basic orbit markup -->
<ul data-orbit>
  <li>
    <img src="http://placehold.it/400x300&text=[img 1]" />
    <div class="orbit-caption">Image 1, the first image</div>
  </li>
  <li>
    <img src="http://placehold.it/400x300&text=[img 2]" />
    <div class="orbit-caption">Image 2, the second image!</div>
  </li>
  <li>
    <img src="http://placehold.it/400x300&text=[img 3]" />
    <div class="orbit-caption">Image 3, the thrid image!</div>
  </li>
</ul>
