<!-- Basic orbit markup -->
<ul data-orbit data-options="timer_speed:5000;">
  <li data-orbit-slide="slide-1">
    <img src="http://placehold.it/1200x400&text=[img 1]" />
    <div class="orbit-caption">Image 1, the first image</div>
  </li>
  <li data-orbit-slide="slide-2">
    <img src="http://placehold.it/1200x400&text=[img 2]" />
    <div class="orbit-caption">Image 2, the second image!</div>
  </li>
  <li data-orbit-slide="slide-3">
    <img src="http://placehold.it/1200x400&text=[img 3]" />
    <div class="orbit-caption">Image 3, the thrid image!</div>
  </li>
</ul>
