<div class="large-12 columns hide-for-small">
    <form>
        <div class="large-10 columns">
            <input type="text" placeholder="Search">
        </div>
        <div class="large-2 columns">
            <input type="submit" value="Search" class="button round small">
        </div>
    </form>
</div>