<div class="row">
	<div class="large-3 columns">
		<ul class="side-nav">
		  <li class="active"><a href="#">Link 1</a></li>
		  <li><a href="#">Link 2</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Link 3</a></li>
		  <li><a href="#">Link 4</a></li>
		</ul>
	</div>
	<div class="large-9 large-offest-3 columns">
		<h2>Hello, there!</h2>
		<p> Welcome to my awesome website. I am the coolest</p>
	</div>
</div>