<div class="at-panel panel-display two-66-33 clearfix">
  <div class="region region-two-66-33-first">
    <div class="region-inner clearfix">
      <section class="panel-pane pane-node-body block">
        <div class="block-inner clearfix">
          
          <h2 class="pane-title block-title">Body</h2>
          
          
          <div class="block-content">
            Home page content
          </div>

          
          
        </div>
      </section>
    </div>
  </div>
  <div class="region region-two-66-33-second">
    <div class="region-inner clearfix">
      <div class="panel-pane pane-block pane-system-powered-by no-title block">
        <div class="block-inner clearfix">
          
          
          
          <div class="block-content">
            <h2 class="pane-title block-title">With title!</h2>
            Block one
          </div>

          <div class="block-content">
            Block two
          </div>

          
          
        </div>
      </div>
    </div>
  </div>
</div>
