<div class="large-12 columns" id="slideshow">
  <img src="http://placehold.it/1200x350&text=We Are The Arts">
</div>
<div class="large-12 columns">
  <ul class="small-block-grid-2">
    <li>
        <h3>Lorem Ipsum Dolor Sit Amet</h3>
        <p>Doloremque deleniti quia class nascetur aptent lacus euismod temporibus, pretium wisi sunt malesuada nec pretium congue rhoncus consequat, natoque vulputate, lacus, delectus quo blandit. Itaque diam sit dolor ligula nobis ullamcorper blandit nunc consequat quidem occaecati ante, lobortis necessitatibus expedita id placerat taciti neque vel, incididunt proin magna ornare nisl?</p>
    </li>
    <li>
       <img src="http://placehold.it/600x350&text=featured-image">
    </li>
  </ul>
</div>
<br />
<div class="large-12 columns">
  <ul class="small-block-grid-2">
    <li>
       <img src="http://placehold.it/600x350&text=featured-image">
    </li>
    <li>
        <h3>Impedit turpis minus sit accusamus tempora, unde asperiores habitasse sem</h3>
        <p>Sapien class, do voluptas velit beatae vehicula, faucibus risus condimentum vehicula nonummy? Ratione anim expedita irure. Integer eligendi, eget corrupti. Atque? Rem vivamus ornare eius illo class veritatis porro pretium. Do nesciunt ultricies consequuntur? Natoque doloribus?</p>
    </li>
  </ul>