<div class="alert-box success">
  <p> Further instructions have been sent to your e-mail address. </p>
</div>

<div class="section-container auto" data-section data-options="deep_linking: true"> 
  <section>
    <p class="title"><a href="/user/login">Log in</a></p>
  </section>
  <section class="active">
    <p class="title" data-section-title><a href="#new-password">Request new password</a></p>
    <div class="content" data-slug="new-password" data-section-content>
      <form action="/dashboard/" method="put" data-abide>
      <p>
        <label for="username">Username or e-mail address</label>
        <input type="text" name="username" id="username" />
         <p>
        <input type="submit" value="E-mail new password" />
      </p>
      </p>
    </div>
  </section>
</div>
